{% extends 'base.html' %}


{% block content %}
<div class="workplace-form">
  {% if object %}
  <h1>Edit {{object.name }}</h1>
  {% else %}
  <h1 class="workspace-form-title">Add a Workspace</h1>
  {% endif %}
  <div style="height: fit-content;">
      <div class="card card-body2" style="width: 500px;">
        <form class="form3" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <table>
          {{form.as_table}}
          </table>
          <input type="submit" value="Submit!">
        </form>
  
      </div>

</div>


{% endblock %}