{% extends 'base.html' %}


{% block content %}

  <h2>{{workspace.name }}</h2>
  <p>{{ workspace.description }}</p>

  <div>
    <a href="{% url 'workspaces_update' workspace.id %}">Edit Workspace</a>
    <a href="{% url 'workspaces_delete' workspace.id %}">Delete Workspace</a>
  </div>
<div>

<hr>

<div>
  <div>
      <h3> {{ workspace.name }}'s Tasks</h3>

      {% if tasks %}
          {% for task in tasks %}
              <div>
                  <span>
                      {{ task.name }} - {{ task.description }} - {{ task.duedate }} - {{ task.status }}
                  </span>
              </div>
          {% endfor %}
      {% else %}
          <h5>No Tasks</h5>
      {% endif %}
  </div>
</div>

<div>
  <a href="{% url 'tasks_create' workspace.id %}">Add Task</a>

</div>



{% endblock %}