{% extends 'base.html' %}


{% block content %}

  <h2>{{workspace.name }}</h2>
  <p>{{ workspace.description }}</p>

  <div>
    <a href="{% url 'workspaces_update' workspace.id %}">Edit Workspace</a>
    <a href="{% url 'workspaces_delete' workspace.id %}">Delete Workspace</a>
  </div>


<hr>



<table class="striped">
  
  <thead>
    <tr>
      <th>task</th>
      <th>description</th>
      <th>duedate</th>
      <th>status</th>
  </thead>
  <tbody>
    {% for task in workspace.task_set.all %}
    
      <tr>
        <td><a href="{% url 'tasks_detail' task.id %}">{{task.name}}</a></td> 
        <td>{{task.description}}</td>
        <th>{{task.duedate}}</th>
        <th>{{task.status}}</th>   
      </tr>
    {% endfor %}
  </tbody>
</table>

<hr>





<hr>
<form action="{% url 'add_tasks' workspace.id %}" method="POST">
  {% csrf_token %}
  <!-- Render the inputs -->
  {{ task_form.as_p }}
  <input type="submit" class="btn" value="Add Task">
</form>


{% endblock %}