{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpFlow</title>
</head>
<body>
  <header>
    <nav><a href="{% url 'login' %}">Sign in</a></nav>
    <nav><a href="{% url 'logout' %}">Logout</a></nav>
    <nav><a href="{% url 'signup' %}">signup</a></nav>
    <nav><a href="{% url 'workspaces_create' %}">New Workspace</a></nav>
    <nav><a href="{% url 'tasks_index' %}">All Tasks</a></nav>
    <nav><a href="{% url 'index' %}">Workspaces</a></nav>
    <nav><a href="{% url 'users-profile' %}">My Profile</a></nav>

  </header>
  <main class="content-container">
    {% block content %}
    {% endblock %}
  </main>


</body>
</html>