{% extends 'base.html' %}



{% block content %}

<h1>OpFlow</h1>


<div class="container text-center">
  <div class="row">
    <div class="col-sm-3">
      Level 1: .col-sm-3
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-8 col-sm-6">
          Level 2: .col-8 .col-sm-6
        </div>
        <div class="col-4 col-sm-6">
          Level 2: .col-4 .col-sm-6
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container text-center">
  <div class="row">

    <div class="col-10">

left

    </div>

    <div class="col-2">

      right
      
          </div>

  </div>



</div>



<button type="button" class="btn btn-primary">Primary</button>


{% endblock %}